@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-pt-sans), sans-serif;
}

@layer base {
  :root {
    --background: 180 60% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 60% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 60% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 180 100% 25%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 30 70% 47%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 180 100% 25%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 20% 98%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 20% 98%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 20% 98%;
    --primary: 180 100% 35%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 30 70% 57%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 180 100% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
